################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RegistrationSystemBackend/.vs
/RegistrationSystemBackend/RegistrationSystem/bin/Debug/net6.0
/RegistrationSystemBackend/RegistrationSystem/obj
/.vs
