<!-- <form (ngSubmit)="saveRegistration()">
    <div class="form-group">
      <label>Registration Date</label>
      <input type="date" class="form-control" [(ngModel)]="registration.registrationDate" name="RegistrationDate" required>
    </div>
    <div class="form-group">
        <label>Student</label>
        <select class="form-control" [(ngModel)]="registration.studentId" name="StudentId" required>
          <ng-container *ngFor="let student of students" >
            <option [value]="student.studentId">{{student.firstName}} {{student.lastName}}</option>
          </ng-container>       
        </select>
    </div>
    <div class="form-group">
      <label>Course</label>
      <select class="form-control" [(ngModel)]="registration.courseId" name="CourseId" required>
        <ng-container *ngFor="let course of courses" >
          <option [value]="course.courseId">{{course.courseName}}</option>
        </ng-container>       
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form> -->
