<!-- <button class="btn btn-primary" routerLink="/manage-registration">Add Registration</button>
<table class="table">
  <thead>
    <tr>
      <th>Registration Date</th>
      <th>Student Name</th>
      <th>Course Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let registration of registrations">
      <td>{{registration.registrationDate}}</td>
      <td>{{getStudentName(registration.studentId)}}</td>
      <td>{{getCourseName(registration.courseId)}}</td>
      <td> -->
        <!-- <button class="btn btn-warning" [routerLink]="['/manage-registration', registration.registrationId]">Edit</button> -->
        <!-- <button class="btn btn-danger" (click)="deleteRegistration(registration.registrationId)">Delete</button>
      </td>
    </tr>
  </tbody>
</table> -->
